@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-dark: #263238;
  --color-muted: #8f95a5;
  --color-bg-main: #ffffff;
  --color-input-bg: #f3f4f6; /* Светлый фон для инпутов */
}

/* При переключении на .dark меняем значения переменных */
.dark {
  --color-dark: #ffffff;
  --color-muted: #a0a5b5;
  --color-bg-main: #12181b;
  --color-input-bg: #1c2327; /* Темный фон для инпутов */
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-dark);
  transition:
    background-color 0.3s,
    color 0.3s;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  scroll-behavior: contain;
}
